.sidepanel {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 338px;
    width: 25px;
    top: 226px;
    left: 50px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {   
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        width: 24px;
        height: 148px;
        span {
            display: block;
            width: 148px;
            height: 24px;
            transform: rotate(-90deg) translate(-40%, -260%);
        }
    }
}